<mat-card fxLayout="column">
  <mat-card-header>
    <mat-card-title class="title">Patterns</mat-card-title>
    <span class="spacer"></span>
    <button mat-raised-button color="accent" routerLink="/patterns/new">+ Add new</button>
  </mat-card-header>
  <mat-card-content fxLayoutAlign="center center" fxFlex>
    <mat-spinner diameter="55" color="accent" *ngIf="isLoading"></mat-spinner>
    <div fxFlex="75%" fxLayout="column">
      <ng-container *ngIf="!isLoading" >

        <mat-form-field appearance="standard">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
        </mat-form-field>


        <table mat-table [dataSource]="patterns" class="mat-elevation-z8" fxFlex>
          <ng-container matColumnDef="imgUrl">
            <th mat-header-cell *matHeaderCellDef> Thumbnail </th>
            <td mat-cell *matCellDef="let row"> <img *ngIf="row.imgUrl!==''" [src]="row.imgUrl" height="22px"> </td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>

          <ng-container matColumnDef="patternTypeName">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let row"> {{row.patternTypeName }}</td>
          </ng-container>

          <ng-container matColumnDef="patternCompanyName">
            <th mat-header-cell *matHeaderCellDef> Company </th>
            <td mat-cell *matCellDef="let row"> {{row.patternCompanyName}}</td>
          </ng-container>

          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button color="accent" routerLink="/patterns/{{row.id}}">
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button color="warn" (click)="delete(row.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>


      </ng-container>
    </div>
  </mat-card-content>
</mat-card>
